.login{
    width: 100%;
    height: 100%;
}
.content{
    width: 90%;
    height: 80%;
    margin: 180px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.sidebar{
    margin-top: -30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.section{
    margin-top: -30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
h3{
    color: #fff;
    text-align: justify;
}
.logoImg{
    width: 360px;
    height: 360px;
    margin-top: -140px;
}
.logo{
    background-color: #fff;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.paragrafo{
    width: 390px;
    height: 220px;
}
.loginForm{
    background-color: #F6F3F3;
    width: 360px;
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: rgba(53, 49, 99, 0.5) solid 1px;
}
.inputLogin{
    width: 80%;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 30px;
    border: none;
}
.entrarbutton{
    background-color: #1597E5;
}
.criar{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Termos{
    color: aliceblue;
    text-decoration: underline;
}